<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.studentoutcomebackend.mapper.CompetitionMapper">

    <select id="selectCompetitionInfoByKeyword" resultType="java.util.Map">
        SELECT c.id,
               c.competition_name,
               ct.type_name,
               term.organizer
        FROM COMPETITION c
                 LEFT JOIN
             COMPETITION_TYPE ct ON c.type_id = ct.id
                 LEFT JOIN
             COMPETITION_TERM term ON c.id = term.competition_id
        WHERE c.competition_name LIKE CONCAT('%', #{keyword}, '%')
    </select>

</mapper>
